name: Terraform Pub/Sub

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read 
  id-token: write

jobs:
  terraform:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Authenticate to GCP (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/629423970153/locations/global/workloadIdentityPools/tf-pubsub-wif/providers/tf-pubsub-wif
          service_account: sa-pubsub@hip-runner-477914-h3.iam.gserviceaccount.com

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
